<!DOCTYPE html>
<html>
<head>
    <title>Choose Plan</title>
</head>
<body style="background:#0f172a;color:white;font-family:Arial;">

<h1 style="text-align:center;">Choose Your Plan</h1>

<div style="display:flex;gap:20px;justify-content:center;flex-wrap:wrap;padding:40px;">

    <div style="background:#1e293b;padding:20px;border-radius:20px;width:250px;text-align:center;">
        <h2>Monthly</h2>
        <h1>₹19</h1>
        <a href="/subscribe/?plan=monthly">Select Plan</a>
    </div>

    <div style="background:#1e293b;padding:20px;border-radius:20px;width:250px;text-align:center;">
        <h2>Yearly</h2>
        <h1>₹149</h1>
        <a href="/subscribe/?plan=yearly">Select Plan</a>
    </div>

    <div style="background:#1e293b;padding:20px;border-radius:20px;width:250px;text-align:center;">
        <h2>Lifetime</h2>
        <h1>₹299</h1>
        <a href="/subscribe/?plan=lifetime">Select Plan</a>
    </div>

</div>

</body>
</html>